html{
    background-color: rgb(19, 19, 19);
}
body{
    margin: 0 auto;
    padding: 0;
    max-width: 90vw;
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    color: white;
}
h1{
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
    margin: 50px auto;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    background-color: black;
    box-shadow: 3px 3px 5px white;
    
}
.conteudo1-logo-nav__logo{
    font-size: 40px;
    letter-spacing: 5px;
    margin-left: 20px;
}
.conteudo1-nav{
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 15px;
    margin-right: 20px;
    flex-grow: 1;
}
.conteudo1-nav li a{
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    border-radius: 12%;
    color: white;
}
.conteudo1-nav li a:hover{
    background-color: greenyellow;
    color: black;
    
}
.conteudo2-cards-planos{
    background-color: rgb(19, 19, 19);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    box-sizing: border-box;
}
.conteudo2-cards-planos li{
    line-height: 30px;
    color:greenyellow ;
    font-size: 14px;
    
}
span{
    font-size: 10px;
}
.conteudo2-cards__geral{
    flex-grow: 1;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    background-color: black;
    box-shadow: 3px 3px 5px white;
    
}
.conteudo2-cards__geral:hover{
    scale: 1.04;
}
.conteudo2-cards__geral .lista-conteudo2-cards-planos{
    flex-grow: 1;
}
.conteudo2-cards-planos__precos{
    margin: 0;
}
h2, .conteudo2-cards__geral p{
    margin-left: 30px;
    font-size: 35px;
    letter-spacing: 2px;
    
}
.conteudo2-cards__geral a{
    margin: 20px 30px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    background-color: greenyellow ;
}
.conteudo2-cards__geral a:hover{
    background-color:black ;
    color: white;
}
h2{
    border-bottom: solid 3px greenyellow ;
    margin: 30px 30px;
    padding-bottom: 10px;
}


